# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
*.json
*.jsonl

# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
ckpts*

.ipynb_checkpoints
*.ipynb

# DevContainer
!.devcontainer/*

# Demo
serve_images/

/fig
playground/data/eval/textvqa/train_val_images/train_images/
playground/data/eval/mm-vet/images/
playground/data/eval/scienceqa/images/
playground/data/eval/mm-vet/results/
playground/data/eval_self/mm-vet/
playground/data/eval_self/textvqa/
playground/data/eval/mmbench/answers_upload/mmbench_dev_20230712/
